$color-primary: hsl(0, 93%, 68%);
$color-secondary: hsl(0, 36%, 70%);
$color-darkNeutral: hsl(0, 6%, 24%);
$color-white: hsl(100%, 100%, 100%);
$color-black: #000;
$color-warning: rgba(red, .7);
$gradient-white: linear-gradient(135deg, hsl(0, 0%, 100%) hsl(0, 100%, 98%));
$gradient-color: linear-gradient(135deg,hsl(0, 80%, 86%),hsl(0, 74%, 74%));




// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;